$mobileBreakpoint: 600px;
$screenMaxWidth: 1000px;
$infobarHeight: 50px;

//colors
$white: white;
$black: #222;
$gray: gray;
$blue: rgb(106, 115, 218);
$blue2: rgb(3, 169, 244);
$ice: #f5fafd;
$red: #d34146;
$red-transparent: rgba($red, 0.25);
$whats: #25d366;
